// $black: $unnamed-color-172026;

.filter {
    .tiltle {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) / 14px var(--unnamed-font-family-muli);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--gray-d2);
        text-align: left;
        opacity: 1;
    }

    .divider {
        border-top: 1px solid #e4e0e0;
    }

    input {
        height: 24px;
        width: 24px;
    }

    // label {
    //     position: absolute;
    //     height: 76px;
    //     top: 622px;
    // }

}
 
.filter-color {
    .color-box {
        display: flex;
        flex-wrap: wrap;
        width: 350px;

        .color-card {
            width: 64px;
            height: 40px;
            border: 2px solid #DFE1E2;
            border-radius: 6px;
            position: relative;

            margin: {
                right: 16px;
                bottom: 16px;
            }
        }

        #black {
            background: #000 0% 0% no-repeat padding-box;
        }

        #white {
            background: #ffff 0% 0% no-repeat padding-box;
        }

        #green {
            background: #942d9d 0% 0% no-repeat padding-box;
        }

        #yellow {
            background: #e5fd5e 0% 0% no-repeat padding-box;
        }

        #blue {
            background: #1F39FF 0% 0% no-repeat padding-box;
        }

        #red {
            background: #E34850 0% 0% no-repeat padding-box;
        }

        #purple {
            background: #6408D3 0% 0% no-repeat padding-box;
        }

        #pink {
            background: #F9009A 0% 0% no-repeat padding-box;
        }

        #saffron {
            background: #27ebe8 0% 0% no-repeat padding-box;
        }

        #gradient {
            background: transparent linear-gradient(180deg, #AF52FF 0%, #7950E8 16%, #4F5ADA 29%, #57CB76 43%, #EBC250 56%, #FF8810 69%, #E32F0F 83%, #BF1919 100%) 0% 0% no-repeat padding-box;
        }
    }
}